!!!
html
  head
    title Simple CoffeeScript plus Jade project
    meta(charset="utf8")
    link(href="css/main.css", rel="stylesheet")
    script(src="js/script.js")
  body
    h1 Wellcome!!!!
    p Here you are!!!
    p And I hope you enjoy it!